<!doctype html>
<html ng-app="questApp">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/controllers/script.js"></script>
    <script src="js/controllers/answerList.js"></script>
    <script src="js/dataService.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>angular</title>
</head>
<body>
    <div ng-controller="QuestionController">
        <h3>Ответы</h3>
        <div class="answers">
            <div ng-repeat="answer in question.answers">
                <div class="vote">
                    <a class="vote-up" ng-click="voteUp(answer)"></a>
                    <span class="rate">{{answer.rate}}</span>
                    <a class="vote-down" ng-click="voteDown(answer)"></a>
                </div>
                <b>{{answer.text}}</b>
                <p>{{answer.author}}</p>
                <p><i>{{answer.date}}</i></p>
            </div>
        </div>
    </div>
</body>
</html>